<html>

<body>
	<div class = "center hero-unit">
		<h1>Welcome to My Story</h1>
		<h2>How do <em>you</em> want to tell your story?</h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
	<div id="logo">
	<%= link_to image_tag("rails.png", alt: "Rails"), "http://rubyonrails.org"%>
	</div>
</body>
</html>
