<% provide(:title, 'Home') %>
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
</head>
<body>
	<h1>Sample App</h1>
	<p>This is the home page for the web page</p>
	
</body>
</html>
